.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
inference/
*.pth
*.pt
*.onnx
*.tar
*.tar.gz
runs/
bdd100k/**/*.jpg
bdd100k/**/*.png
bdd100k/**/*.json
darknet-onnx/
HybridNets/
YOLOPv2/
YOLOPv3/
YOLOPX/
yolov3_custom/
YOLOv8-multi-task/


